<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.daka.servicedesk">

    <uses-sdk tools:overrideLibrary="pl.tajchert.nammu" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/daka_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".modules.services.ServicesActivity"
            android:label="@string/services_activity" />
        <activity
            android:name=".modules.sos.SosActivity"
            android:label="@string/sos_activity" />
        <activity
            android:name=".modules.tasks.TasksActivity"
            android:label="@string/tasks_activity" />

        <activity
            android:name=".modules.tasks.MapsActivity"
            android:label="@string/title_activity_maps"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bfc7a688d74f9fe58cac9557c404a5e68fc913ae" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>