<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.daka.servicedesk">

    <uses-sdk tools:overrideLibrary="pl.tajchert.nammu" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.LoginActivity"
            android:label="@string/login_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".home.HomeActivity"
            android:label="@string/home_activity" />

        <activity
            android:name=".modules.services.ServicesActivity"
            android:label="@string/services_activity" />

        <activity
            android:name=".modules.sos.SosActivity"
            android:label="@string/sos_activity" />

        <activity
            android:name=".modules.tasks.TasksActivity"
            android:label="@string/tasks_activity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bfc7a688d74f9fe58cac9557c404a5e68fc913ae" />
    </application>


</manifest>